<!DOCTYPE html>
<html>
<head>
<% include partials/headrefs %>
</head>

<body>

    <% include partials/header %>
    <div>
        <div class="mobileCategoryContainer hidden-lg hidden-md">
            <div class="row">
                <div class="col-xs-4 topRow">
                    <a href="/"> <div class="mobileCategoryThumbnail"><span class="mobileCategoryTitle">Home</span>
                        <div class="blackBox"></div>
                        <img class="categoryImg-responsive" src="/images/categoryImages/homeThumb.png">
                    </div></a>
                </div>
                <div class="col-xs-4 topRow">
                    <a href="/category/video-games"><div class="mobileCategoryThumbnail"><span class="mobileCategoryTitle">Video Games</span>
                        <div class="blackBox"></div>
                        <img class="categoryImg-responsive" src="/images/categoryImages/videoGamesThumb.png">               
                    </div></a>
                </div>
                <div class="col-xs-4 topRow">
                    <a href="/category/tv"><div class="mobileCategoryThumbnail"><span class="mobileCategoryTitle">Television</span>
                        <div class="blackBox"></div>
                        <img class="categoryImg-responsive" src="images/categoryImages/tvThumb.png">                
                    </div></a>
                </div>
                <div class="col-xs-4">
                    <a href="/category/computers"><div class="mobileCategoryThumbnail"><span class="mobileCategoryTitle">Computers</span>
                        <div class="blackBox"></div>
                        <img class="categoryImg-responsive" src="/images/categoryImages/computerThumb.png">
                    </div></a>
                </div>
                <div class="col-xs-4">
                    <a href="/category/outdoors"><div class="mobileCategoryThumbnail"><span class="mobileCategoryTitle">Outdoors</span>
                        <div class="blackBox"></div>
                        <img class="categoryImg-responsive" src="/images/categoryImages/outdoorsThumb.png">
                    </div></a>
                </div>
                <div class="col-xs-4">
                    <a href="/category/home-and-garden"><div class="mobileCategoryThumbnail"><span class="mobileCategoryTitle">Home & Garden</span>
                        <div class="blackBox"></div>
                        <img class="categoryImg-responsive" src="images/categoryImages/h_gThumb.png">
                    </div></a>
                </div>
                <div class="col-xs-4">
                    <a href="/category/clothing"><div class="mobileCategoryThumbnail"><span class="mobileCategoryTitle">Clothing</span>
                        <div class="blackBox"></div>
                        <img class="categoryImg-responsive" src="/images/categoryImages/clothingThumb.png">
                    </div></a>
                </div>
                <div class="col-xs-4">
                    <a href="/category/cameras"><div class="mobileCategoryThumbnail"><span class="mobileCategoryTitle">Camera</span>
                        <div class="blackBox"></div>
                        <img class="categoryImg-responsive" src="/images/categoryImages/cameraThumb.png">
                    </div></a>
                </div>
                <div class="col-xs-4">
                    <a href="/category/auto"><div class="mobileCategoryThumbnail"><span class="mobileCategoryTitle">Automobile</span>
                        <div class="blackBox"></div>
                        <img class="categoryImg-responsive" src="images/categoryImages/carThumb.png">
                    </div></a>
                </div>
                <div class="col-xs-4">
                    <a href="/category/health-and-beauty"><div class="mobileCategoryThumbnail"><span class="mobileCategoryTitle">Health & Beauty</span>
                        <div class="blackBox"></div>
                        <img class="categoryImg-responsive" src="/images/categoryImages/h_bThumb.png">
                    </div></a>
                </div>
                <div class="col-xs-4">
                    <a href="/category/baby"><div class="mobileCategoryThumbnail"><span class="mobileCategoryTitle">Baby</span>
                        <div class="blackBox"></div>
                        <img class="categoryImg-responsive" src="/images/categoryImages/babyThumb.png">
                    </div></a>
                </div>
                <div class="col-xs-4">
                    <a href="/category/travel"><div class="mobileCategoryThumbnail"><span class="mobileCategoryTitle">Travel</span>
                        <div class="blackBox"></div>
                        <img class="categoryImg-responsive" src="images/categoryImages/travelThumb.png">
                    </div></a>
                </div>
            </div>
        </div>

    </div>

    <% include partials/footer %>

</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

</html>