<div class="footer">
    <div>
        <a href="https://twitter.com/SkinnyPigDeals">
            <i class="fab fa-twitter-square"></i>
        </a>
        <a href="#">
            <i class="fab fa-facebook-square"></i>
            </i>
        </a>
        <a href="#">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</div>