<div class="footer">
    <div>
        <a href="https://twitter.com/SkinnyPigDeals">
            <i class="fab fa-twitter-square"></i>
        </a>
        <a href="https://www.facebook.com/skinny.pig.31542">
            <i class="fab fa-facebook-square"></i>
            </i>
        </a>
        <a href="https://www.instagram.com/skinnypigdeals/">
            <i class="fab fa-instagram"></i>
        </a>
        <!-- <a href="/aboutus">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
        </a> -->
    </div>
</div>